@model IList<Roxosoft_TEST.Models.Product.ProductViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-controller="Order" asp-action="List" title="Order List" class="btn btn-info">Order List</a>
<a asp-controller="Product" asp-action="Create" title="Add Product" class="btn btn-info">Add Product</a>
<div class="row">

    <div class="col-md-6">
        <h2>Products</h2>
        <table class="table table-bordered">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr uid="@item.Uid">
                        <td>@item.Name - @item.Price</td>
                        <td><input type="number" class="form-control" id="count" value="1" min="1" width="10" /></td>
                        <td><input type="button" class="btn btn-default btnAddToCart" value="Add to Cart" /></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Cart</h2>
        <div class="cart">
            
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Site.LoadCart();
    });
</script>
